/* GENERAL STYLES */

h1 {
    margin:0;
}

h2 {
    font-family: 'Outfit', sans-serif;
    font-weight:700;
    text-align: center;
}

p {
    font-family: 'Outfit', sans-serif;
    font-weight:400;
    font-size:18px;
    text-align: center;
}

/* MOBILE STYLES */

body {
    text-align: center;
    background-color:#d6e2f0;
    display: grid; 
    grid-template-rows: auto 1fr; 
    place-items: center
}

main {
    width:20rem;
    margin:auto;
}

.qr-card {
    background-color: white;
    max-width: 20rem;
    margin:auto;
    padding:10px;
    border-radius:5%;
    box-shadow:1px;

}

img {
    border-radius:5%;
    width:100%;
}

figure {
    margin:auto;
}

.text {
    padding: 15px 0 15px 0;
}

footer {
    margin:20px;
    font-family:'Outfit', sans-serif;
}