/* GENERAL STYLES */

h2 {
    font-family: 'Outfit', sans-serif;
    font-weight:700;
    text-align: center;
}

p {
    font-family: 'Outfit', sans-serif;
    font-weight:400;
    font-size:15px;
    text-align: center;
}

/* MOBILE STYLES */

body {
    width:375px;
    text-align: center;
}

.qr-card {
    background-color: white;
    height: 275px;
    display:inline;
}

img {
    border-radius:10%;
    width:325px;
}

figure {
    margin:auto;
    margin-top:25px;
}